@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

:root{
    --primary : #f2a93b;
    --successed : #21bf73;
    --important : #e7f0fe;
    --fail : #444444;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    color: #4b4b4b;
}

.form-box{
    margin: 10px;   display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.title{
    width: 500px;
    padding: 10px;
    text-align: center;
}

.input-box{
    margin: 20px;
}

.input-label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.input{
    width: 500px;
    padding: 10px;
    border: 1px solid black;
}

.input:focus{
    outline: none;
}

.first-name-box{
 
}

.first-name-label{
    
}

.first-name{
    
}

.last-name-box{
    
}

.last-name-label{
   
}

.last-name{
    
}

.email-box{
    
}

.email-label{
    
}

.email{
    
}

.password-box{
    
}

.password-label{
    
}

.password{
    
}

.phone-number-box{
    
}

.phone-number-label{
    
}

.phone-number{
    
}

.your-bio-box{
    
}

.your-bio-label{
    
}

.your-bio{
    
}

.btn{
    padding: 10px 35px;
    background-color: var(--fail);
    border-radius: 5px;
    margin-left: 20px;
}

.btn-text{
    color: #fff;
}

.noti{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}